@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.box {
  height: 300px;
  background-color: brown;
  color: aliceblue;
  font-size: 200px;
}
.slick-prev {
  left: 3% !important;
  z-index: 1 !important;
}
.slick-next {
  right: 3% !important;
  z-index: 1 !important;
  background-color: black;
}
