@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.listContainer {
  display: block;
  & .TypoWrapper {
    text-align: end;
    & .subTitle {
      font-family: 'NanumSquare_ac';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 158.34%;
      background: linear-gradient(253.58deg, #ffa600 1.55%, #ff5e00 95.8%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    & .Title {
      font-family: 'NanumSquare';
      font-weight: 800;
      font-size: 100px;
      background: linear-gradient(253.58deg, #ff7b00 1.55%, #ffd900 95.8%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-top: 20px;
    }
  }
  & .contentWrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    & .filterDrop {
      right: 10px;
      position: absolute;
      margin-left: 30px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 40px;
      border: 3px solid #ff5e00;
      border-radius: 15px;
      color: #ff5e00;
    }
    & .menuHeads {
      margin-top: 80px;
      display: flex;
      justify-content: space-between;

      margin-bottom: 40px;
      & .curStatus {
        & span {
          color: red;
        }
      }
      & .linkTo {
        cursor: pointer;
      }
    }
    & .carouselWrapper {
      width: 100%;
      height: auto;
    }
  }
}
