@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.container {
  width: 100%;
  min-height: 100vh;

  .contents {
    display: flex;
    padding-top: 100px;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    justify-content: center;
    .login-box {
      width: 500px;
      display: flex;
      flex-direction: column;
      min-height: 500px;
      padding: 0 20px;
      border-radius: 10px;

      & .findInfo-box {
        text-align: right;
        & span {
          & a {
            text-decoration: none;
            font-size: 0.8rem;
            color: #707070;
            cursor: pointer;
            padding: 0 5px;
            transition: all 0.2s;

            &:hover {
              color: $primary;
            }
          }
        }
      }

      & .title {
        font-weight: bold;
        font-size: 3rem;
        padding: 15px 0;
        margin-bottom: 15px;
      }

      & .login-button {
        margin: 5px 0;
        background-color: $primary;
        font-weight: bold;
        height: 60px;
        font-size: 1.125rem;
      }
    }
  }

  
  
}

