@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.container {
  width: 100%;
  min-height: 100vh;

  .contents {
    display: flex;
    padding-top: 200px;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    justify-content: center;
    .login-box {
      width: 500px;
      display: flex;
      flex-direction: column;
      min-height: 500px;
      margin-top: 20px;
      padding: 50px;
      background: rgba(255, 255, 255, 0.842);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5.3px);
      -webkit-backdrop-filter: blur(5.3px);
      border: 1px solid rgba(255, 255, 255, 0.49);
      transition: 1s;
      z-index: 87;

      & .findInfo-box {
        text-align: right;
        & span {
          & a {
            text-decoration: none;
            font-size: 0.8rem;
            color: #707070;
            cursor: pointer;
            padding: 0 5px;
            transition: all 0.2s;
            z-index: 88;
            &:hover {
              color: $primary;
            }
          }
        }
      }

      & .title {
        font-weight: bold;
        font-size: 3rem;
        padding: 15px 0;
        margin-bottom: 15px;
        background: linear-gradient(259.55deg, #ff9900 51.3%, #ff6b00 92.74%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      & .login-button {
        margin: 5px 0;
        background-color: $primary;
        font-weight: bold;
        height: 75px;
        font-size: 1.4rem;
        border-radius: 12px;
        margin: 15px 0;
      }
    }
  }
}

.area {
  background: linear-gradient(to left, #ff88008f, #ff48007c);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
