@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: NanumSquareRound;

  .contents {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1160px;

    .title {
      font-size: 3rem;
      font-weight: bold;
      background: linear-gradient(259.55deg, #ff9900 51.3%, #ff6b00 92.74%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 5rem 0 2rem 0;

      @include tablet {
        font-size: 2.25rem;
      }

      @include mobile {
        font-size: 1.25rem;
      }
    }

    .comment {
      font-weight: bold;
      font-size: 1.25rem;
      color: rgba(1, 1, 1, 0.6);
      margin-bottom: 0.5rem;

      @include tablet {
        font-size: 1.125rem;
      }

      @include mobile {
        font-size: 0.75rem;
      }
    }

    .select {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 2rem 0;

      @media screen and (max-width: 750px) {
        flex-direction: column;
        align-items: center;
        margin: 0;
      }

      .select-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        min-width: 200px;
        background-color: white;
        border: 5px solid $primary;
        border-radius: 20px;
        margin: 2rem;
        padding: 1rem;
        font-family: NanumSquareRound;

        &:hover {
          box-shadow: 0 0 15px rgba(242, 117, 0, 0.3);
          transition: all 0.2s;
        }

        .button-title {
          color: #ff9900;
          font-size: 2.25rem;
          font-weight: bold;

          @include tablet {
            font-size: 1.25rem;
          }

          @include mobile {
            font-size: 1.125rem;
          }
        }

        & svg {
          color: $primary;
          width: 60%;
          height: 60%;
        }
      }
    }
  }
}
