@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-family: NanumSquare !important;

  .contents {
    display: flex;
    margin: 77px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 850px;
    background: rgba(255, 255, 255, 0.89);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 3px solid rgb(255, 255, 255);
    z-index: 79;

    .title {
      font-weight: bold;
      font-size: 2.25rem;
      margin: 5rem 0 3rem 0;

      @include tablet {
        font-size: 2.25rem;
      }

      @include mobile {
        font-size: 1.25rem;
      }
    }

    .form-div {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 1rem;
      padding: 0.5rem;
      min-width: 250px;

      .form-div-inner {
        max-width: 500px;
        width: 70%;
      }

      & input {
        @include mobile {
          font-size: 0.75rem;
        }
      }

      .dupl-btn {
        margin-left: 0.5rem;
        font-size: 0.9rem;
        text-decoration: none;
      }

      .auth-btn {
        background-color: $error;
        margin: 0.5rem 0 0.3rem 0;
        min-width: 40px;

        @include mobile {
          font-size: 0.75rem;
        }
      }

      .not-shadow {
        box-shadow: none;
      }

      & p {
        margin-top: 2rem;
        font-size: 1rem;

        @include mobile {
          font-size: 0.75rem;
        }
      }

      hr {
        max-width: 500px;
        margin: 3rem 0;
      }

      .comment {
        max-width: 500px;
        margin: 0.7rem 0 2rem 0;
        color: grey;
      }

      input[type='file']::file-selector-button {
        width: 100px;
        height: 30px;
        margin: 1rem 0.5rem 0 0;
        background: $primary;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 0.75rem;
        cursor: pointer;
      }

      .last-comment {
        max-width: 500px;
        margin-top: 3rem;
        color: rgba(1, 1, 1, 0.8);
      }

      .signup-btn {
        max-width: 500px;
        width: 100%;
        height: 60px;
        margin: 1rem 0 5rem 0;
        background-color: $primary;
        font-weight: bold;
        font-size: 1.25rem;
        font-style: white;
      }

      & div div {
        max-width: 500px;
        width: 100%;
        box-shadow: 1.5px 1.5px 2px rgba(1, 1, 1, 0.1);
      }

      .auth-input-div {
        display: flex;
        box-shadow: none;
        align-items: center;

        .auth-number-input {
          height: 20px;
          width: 70%;
          border: 0.5px solid rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          padding: 8px;
          font-size: 0.75rem;
        }

        .auth-check-btn {
          margin-left: 0.5rem;
          font-size: 0.75rem;
          background-color: $error;
        }
      }

      .authed-email {
        font-size: 1.25rem;
        color: grey;
        margin: 0.5rem 0 2rem 0;
      }

      .pw-div {
        display: flex;
        align-items: center;
        box-shadow: none;

        .pwv-btn {
          font-size: 1.2rem;
          color: rgba(1, 1, 1, 0.2);
          margin-left: 1rem;

          &:hover {
            cursor: pointer;
            color: rgba(1, 1, 1, 0.3);
          }
        }
      }

      & select {
        margin-top: 0.5rem;
        padding: 0 0.5rem;
        height: 2rem;
        border-radius: 5px;
        border: 1px solid rgb(180, 180, 180);
      }
    }
  }
}

.area {
  background: linear-gradient(to left, #ff88008f, #ff48007c);
  width: 100%;
  height: 100%;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
