@import '../../styles/reset.scss';
@import '../../styles/variable.scss';
.container {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../assets/images/dengdeng.jpg');
  background-size: cover;
  padding-top: 75px;
  opacity: 0.7;

  & .contents {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    & .totalContainer {
      max-width: 1160px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      & .serviceHeader {
        margin: 5rem 0 2rem 0;
        width: 100%;
        height: 20%;
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        color: #ffff;
      }

      & .serviceComment {
        margin: 0 0 4rem 0;
        width: 100%;
        height: 20%;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        color: #ffff;
      }

      & .serviceContents {
        width: 90%;
        min-height: 234px;
        margin: 0 0 4rem 10rem;
      }

      & .serviceContent {
        padding: 1.5rem 1rem;
        line-height: 1.25;
        font-size: 1.5rem;
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
        color: #ffff;
        opacity: 0;
        animation: fadeIn 2s ease-in-out forwards;

        @keyframes fadeIn {
          0% {
            opacity: 0;
            transform: translateX(-50px);
          }
          100% {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }

      & .callhead {
        cursor: pointer;
        width: 50%;
        height: 60px;
        font-size: 1.5rem;
        line-height: 60px;
        text-align: center;
        background-color: #ffff;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        padding: 10px;
        bottom: 0;
      }
    }
  }
}
