@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.bodyContainer {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-color: rgb(20, 20, 20);
  color: rgb(190, 190, 190);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & .totalWrapper {
    margin-top: 5%;
    max-width: 75vw;
    height: 100%;
    box-sizing: border-box;

    & .typoWrapper {
      height: 30%;
      width: 75vw;
      color: white;
      //   border: 1px solid rgb(255, 255, 255);
      font-family: 'NanumSquare';
      & .typoHead {
        font-size: 5rem;
        // border: 1px solid rgb(255, 255, 255);
        font-weight: bolder;
        margin-bottom: 4%;
      }
      & .typoContent {
        font-size: 1.5rem;
        color: #999;
        line-height: 120%;
      }
    }

    & .cardWrapper {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      //   border: 1px solid rgb(255, 255, 255);
      margin-top: 5%;
      box-sizing: border-box;

      & .team {
        display: flex;
        list-style-type: none;
        justify-content: center;
        overflow: visible;

        & .teamItem {
          width: 100%;
          flex-basis: 15%;
          flex-shrink: 0;
          margin: 0 4px;
          opacity: 0.6;
          transition: 0.4s;
          background-color: #fff;
          &:hover {
            opacity: 1;
            margin: 0 3%;
            scale: 1.3;
            transition: 0.5s;
            & .profile .profileContents {
              max-height: 50%;
              transition: 0.7s;
              transition-delay: 0.4s;
            }
            & .profile .profileContents .profileMemo {
              transition: 0.7s;
              transition-delay: 0.4s;
              opacity: 1;
            }
          }
        }
      }

      & .profile {
        background-color: #222;
        position: relative;
        overflow: hidden;
        //   border: 1px solid rgb(255, 255, 255);
        &::before {
          content: ' ';
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.95+100 */
          background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 ); /* IE6-9 */
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 15vh;
          transition: 0.5s;
        }
        & .profileContents {
          color: white;
          font-size: 1.1rem;
          font-weight: bold;
          max-height: 18%;
          position: absolute;
          left: 0;
          bottom: 0;
          padding: 10px;
          align-items: center;
          & h2 {
            font-size: 1.5rem;
          }
          & .profileDev {
            margin-top: 5%;
            font-family: 'NanumSquare';
            font-weight: 900;
          }
          & .profileMemo {
            color: rgb(167, 167, 167);
            font-size: 0.8rem;
            min-width: 140px;
            overflow: hidden;
            line-height: 1.2;
            opacity: 0;
            margin-top: 3%;
            align-items: center;
          }
        }
        & .profileImg {
          height: 18rem;
        }
      }
    }
  }
}
