@import '../styles/reset.scss';
@import '../styles/variable.scss';
@font-face {
  font-family: 'SEBANG_Gothic_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$Desktop-max-size: 1001px;

.appBar {
  height: 75px;
  display: flex;
  background-color: rgb(255, 255, 255) !important;
  justify-content: center;
  position: relative;
  z-index: 999;
  & .noti {
    &:hover {
      background-color: inherit;
    }

    @media (max-width: $Desktop-max-size) {
      display: none;
    }
  }
  & .menuBox {
    width: 5%;
    @media (max-width: 1000px) {
      display: none;
    }
  }
  & .navItems {
    display: none;
    @media (max-width: $Desktop-max-size) {
      display: none;
    }
  }
}

.logoImg {
  width: 150px;
  padding-top: 10px;
  @media (max-width: 900px) {
    display: none;
  }
}
.logoImgMobile {
  width: 150px;
  display: none;
  @media (max-width: $Desktop-max-size) {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    width: 150px;
  }
}

.menuBtn {
  font-family: 'SEBANG_Gothic_Bold' !important;
  font-size: 1.2rem !important;
  color: black !important;
  transition: 0.5s !important;
  margin: 5%;
  &:hover {
    color: rgb(226, 128, 82) !important;
  }

  @media (max-width: 1350px) {
    margin: 0;
  }
}

.iconBtn {
  color: black;
  transition: 0.5s;
  display: none;
  @media (max-width: 900) {
    display: flex;
  }
}
.mobBox {
  display: flex;
  justify-content: center;
}

.navlinks {
  color: rgb(77, 77, 77);
  display: block;
  text-decoration: none;
}
.accountBtn {
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  border: none;
  background-color: transparent;
  font-family: 'NanumSquare';
  color: $primary;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: rgb(0, 17, 110);
  }
  &:active {
    scale: 0.9;
  }
}
.appContainer {
  padding: 0;
}
.pageBox {
  justify-content: center;
  align-items: center;
  display: flex;
  .menuWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .menuBtn {
      display: flex;
      flex-direction: column;
      margin: 30px;
      position: relative;
      text-align: left;
      z-index: 99;
    }
    & .menuSubMenu {
      position: absolute;
      height: 0px !important;
      top: -100%;
      margin: 15px 22px;
      text-align: left;
      flex-direction: column;
      transition: 1s;
      z-index: 88;
      .menuSubMenuEl {
        font-family: 'nanumsquare';
        font-weight: 600;
        font-size: 20px;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-bottom: 33px;
        cursor: pointer;
        &:hover {
          color: $primary;
        }
      }
    }
    & .menuSubMenuHovered {
      transition: all 1s;
      position: absolute;
      top: 100%;
      margin: 15px 22px;
      text-align: left;
      flex-direction: column;
      z-index: 88;
      .menuSubMenuEl {
        font-family: 'nanumsquare';
        font-weight: 600;
        font-size: 20px;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-bottom: 33px;
        cursor: pointer;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

.megaContainer {
  position: fixed;
  width: 100%;
  height: 200px;
  margin-top: 75px;
  background: rgba(134, 134, 134, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.479);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  transition: 1s;
  z-index: 998;
}

.megaContainerHidden {
  position: fixed;
  width: 100%;
  height: 0;
  margin-top: 0px;
  background: rgba(134, 134, 134, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.479);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  transition: 1s;
  z-index: 998;
}

.alarm-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;

  & svg {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    color: $primary;
    animation: shake 1s infinite;
  }

  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    5% {
      transform: rotate(20deg);
    }
    10% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(-20deg);
    }
    20% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

.all-read {
  border: none;
  background-color: inherit;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);

  &:hover {
    color: $primary;
  }
}
