@import '../../../styles/reset.scss';
@import '../../../styles/variable.scss';

.container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: NanumSquare !important;

  .contents {
    width: 95%;
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    background-color: #fcfcfc;

    .title {
      margin: 10rem 0 1.5rem 0;
      font-weight: bold;
      font-size: 2.25rem;
      color: rgba(0, 0, 0, 0.8);
    }

    .fundPeriod {
      font-size: 1.25rem;
      color: rgba(0, 0, 0, 0.6);
    }

    .object {
      margin-top: 1rem;
      font-size: 1.25rem;
      color: rgba(0, 0, 0, 0.8);
    }

    .post-date {
      font-weight: bold;
      color: rgba(0, 0, 0, 0.4);
      font-size: 1.25rem;

      @include tablet {
        font-size: 1.125rem;
      }

      @include mobile {
        font-size: 0.75rem;
      }
    }

    & hr {
      margin: 3rem 0;
      width: 85%;

      @include tablet {
        margin: 2.5rem 0;
      }

      @include mobile {
        width: 100%;
        margin: 1rem 0;
      }
    }

    .content {
      width: 80%;
      font-size: 1.125rem;
      line-height: 2rem;

      & img {
        width: 400px;
        border: 5px solid rgb(196, 196, 196);
        border-radius: 20px;
      }
    }

    .back {
      margin: 3rem auto 0 0;
      background-color: inherit;
      border: none;
      color: $primary;
      font-size: 1.25rem;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        color: $second;
      }

      @include tablet {
        font-size: 1.125rem;
      }

      @include mobile {
        display: 0.75rem;
      }
    }
  }
}
