@import '../../../styles/reset.scss';
@import '../../../styles/variable.scss';

.container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding-top: 77px;
  display: flex;
  justify-content: center;
  font-family: NanumSquare !important;

  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1160px;
    background-color: #fcfcfc;

    .title {
      font-size: 2rem;
      font-weight: bold;
      margin: 3rem 0;
    }

    .label-div {
      display: flex;
      align-items: center;
      width: 815px;
      margin: 1rem 0 0.5rem 0;
      font-size: 1.25rem;

      & img {
        width: 8px;
        margin-left: 0.5rem;
        padding: 0 0 0.3rem 0;
      }
    }

    .email-title {
      width: 790px;
      height: 35px;
      margin-bottom: 2rem;
      padding: 0 1rem;
      border: 1px solid rgb(179, 179, 179);
      border-radius: 5px;
      font-family: NanumSquare;
    }

    input[type='file']::file-selector-button {
      width: 100px;
      height: 30px;
      margin: 0 0.5rem 0 0;
      background: $primary;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 0.75rem;
      cursor: pointer;
      font-family: NanumSquare;
    }

    .btn-div {
      display: flex;
      margin: 3rem;

      .submit {
        margin-left: 0.5rem;
        font-family: NanumSquare;
      }

      .cancel {
        font-family: NanumSquare;
      }
    }

    .file-list {
      width: 815px;
      color: $primary;
      font-size: 0.9rem;

      & p {
        height: 1.5rem;
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;

        .withdraw-btn {
          margin-left: 0.5rem;
          border: none;
          border-radius: 100%;
          box-shadow: none;
          color: $error;
          font-size: 17px;
          font-weight: bold;

          &:hover {
            cursor: pointer;
            color: $primary;
          }
        }
      }
    }
  }
}
