@import '../../../styles/reset.scss';
@import '../../../styles/variable.scss';

.container {
  width: 100%;
  font-family: NanumSquare !important;

  .title-line {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $primary;
    color: white;
    font-size: 1rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 5rem;

    & li {
      width: 30%;
      display: flex;
      justify-content: center;
    }

    .mobile-none {
      @include mobile {
        display: none;
        width: 100%;
      }
    }

    @include mobile {
      margin-top: 2rem;
    }
  }

  .list-line {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(236, 153, 75, 0.05);
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgba(236, 153, 75, 0.1);
    margin: 0.1rem 0;
    padding: 0.5rem 0;

    &:hover {
      cursor: pointer;
      background-color: rgba(236, 153, 75, 0.1);
    }

    & li {
      width: 30%;
      display: flex;
      justify-content: center;
    }

    .mobile-none {
      @include mobile {
        display: none;
      }
    }
  }

  .page-bar {
    margin-top: 2rem;

    & nav {
      width: 100%;
      display: flex;
      justify-content: center;

      & li {
        width: auto;
      }
    }
  }
}
