@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.bodyContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  & .contentBox {
    margin-top: 80px;
    width: 80%;
    height: 70%;
    background-color: rgb(61, 61, 61);
  }
}
