@import '../../styles/reset.scss';
@import '../../styles/variable.scss';
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.bodyContainer {
  & .contentContainer {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    & .backBox {
      width: 95%;
      margin-top: 4%;
      height: 100%;

      & .contentBox {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        width: 100%;
        align-items: center;
        font-size: 150px;
        box-sizing: border-box;
      }
      & .title {
        margin-left: 80px;
        margin-top: 80px;
        font-family: 'nanumsquare';
        font-weight: 800;
        font-size: 40px;
      }
    }
    @media (max-width: 900px) {
      margin-left: 0;
    }
  }
}
