.header {
  color: rgba(236, 153, 75, 1);
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  min-height: 40px !important;
}
.toolbar {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navSessionInfo {
  display: flex;
}

.headerLight {
  color: #706969 !important;
  background-color: #eeeeee !important;
}

#navButtons {
  position: absolute;
  left: 0;
  right: 0;
  min-width: 400px;
}
#navChatButton {
  position: absolute;
  right: 10px;
  top: 0;
}

#titleContent {
  background-color: transparent !important;
  font-size: 24px;
  font-weight: bold;
}

.titleContentLight {
  background-color: #dfdfdf !important;
  color: #000;
}

#header_img {
  max-width: 135px;
  margin-right: 10px;
  margin-top: 10px;
}

#session-title {
  font-family: 'Open Sans', sans-serif;
}

#point {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 12px;
  right: 33px;
  border-radius: 50%;
  background-color: #ffa600;
  border: 1px solid #000;
  z-index: 99999;
}
.pointLight {
  border: 1px solid #ffffff !important;
}

@media only screen and (max-width: 700px) {
  #titleContent,
  #navChatButton {
    display: none;
  }
}
