@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.container {
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
  background-color: #fcfcfc;
  .contents {
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    width: 100%;
    height: 100%;

    & .title {
      position: relative;
      font-weight: bold;
      font-size: 1.5rem;
      margin: 15px 0;
    }
    & .subTitle {
      font-size: 1rem;
      color: rgb(109, 109, 109);
      margin: 10px 0;
    }

    & .required {
      position: absolute;
      top: 0;
      width: 14px;
      height: 14px;
      margin: 3px;
    }

    & .input-text {
      box-sizing: border-box;
      width: 100%;
      height: 50px;
      padding: 5px 5px 5px 15px;
      border: 1px solid rgba(216, 216, 216, 0.725);
      transition: all 0.2s;
      &::placeholder {
        color: #d1d2d1;
        font-size: 1rem;
      }

      &:focus {
        border: 1px solid $second;
      }
    }

    .funding-thumbnail-box {
      width: 100%;
      display: flex;
      flex-direction: column;

      .thumbnail-upload-box {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & .thumbnail-image {
          width: 266;
          height: 230px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }

        .upload-button-box {
          border-radius: 5px;
          margin-left: 25px;
          width: 70%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          transition: all 0.2s;

          &:hover {
            scale: 1.02;
          }

          .upload-icon-box {
            position: relative;
            font-weight: bold;
            font-size: 1.2rem;
            margin: 10px 0;
            .upload-icon {
              margin-right: 5px;
              width: 32px;
              width: 32px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: -30px;
            }
          }
          .subDescription {
            margin: 5px 0;
            color: rgb(109, 109, 109);
            font-size: 1rem;

            & span {
              font-size: 0.8rem;
              color: red;
              font-weight: 700;
            }
          }
          .thumbnail-upload-input {
            display: none;
          }
        }
      }

      & .thumbnail-image {
        width: 246px;
        height: 210px;
      }
    }

    .funding-title-box {
      margin-top: 15px;
    }

    .funding-description-box {
      margin-top: 15px;
    }

    .funding-contents-box {
      margin-top: 15px;
    }

    .funding-date-box {
      margin-top: 15px;
      .date-picker-box {
        margin-top: 30px;
      }
      & .funding-days-text {
        font-size: 0.9rem;
        font-weight: bold;
        color: rgb(109, 109, 109);
      }
    }
    .funding-amount-box {
      margin-top: 15px;

      .progress-box {
        margin: 25px 0;
        display: flex;
        flex-direction: column;

        .stage-text-box {
          display: flex;
          justify-content: space-between;
          margin-bottom: 8px;
        }

        .stage-contents-box {
          .stage {
            margin-top: 30px;
            & .stage-title {
              font-size: 1.3rem;
              font-weight: bold;
              margin: 15px 0;
            }
            .todo-list-box {
              margin-top: 30px;
              display: flex;
              flex-direction: column;

              & .todo-list-title {
                font-size: 1.3rem;
                font-weight: bold;
                margin: 15px 0;
              }

              .todo-contents {
                font-size: 1.1rem;
                margin: 10px 0;
              }
              .todo-input-box {
                display: flex;
                flex-direction: row;
                margin: 25px 0 20px 0;
                & .todo-input {
                  box-sizing: border-box;
                  width: 80%;
                  height: 40px;
                  font-size: 1rem;
                }

                & .create-button,
                & .delete-button {
                  margin: 0 10px;
                  border-radius: 100%;
                  box-sizing: border-box;
                  width: 5%;
                  height: 50px;
                }
              }
            }
          }
        }

        .stage-button-box {
          display: flex;
          justify-content: space-between;
          & .stage-button {
            border: none;
            background-color: $primary;
            color: white;
          }
        }
      }

      .submit-button {
        font-size: 1.2rem;
        font-weight: bold;
        width: 100%;
        height: 50px;
        margin: 20px 0;
      }
    }
  }
}
