@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.container {
  padding-top: 80px;
  width: 100%;
  min-height: 100vh;
  .contents {
    max-width: 1160px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;


    .title-box {
      margin-top: 80px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .description-box {
        width: 50%;
        & p {
          font-weight: bold;
          font-size: 3rem;
          line-height: 1.2;
        }

        @include tablet(){
          display: none;
        }
        @include mobile(){
          display: none;
        }
      }
      .statistic-box {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $primary;
        border-radius: 20px;

        @include tablet(){
          width: 100%;
          height: 100px;
        }
        @include mobile(){
          width: 100%;
          height: 70px;

        }

        & div {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          & p {
            color: #ffff;
            line-height: 1.5;
            font-weight: bold;
          }
        }
        & div:first-child {
          border-right: 2px solid white;
        }
      }
    }

    .category-box {
      margin-top: 90px;
      display: flex;
      justify-content: center;


       .link {
        border: none;
        background-color: white;
        text-align: center;
        padding: 15px;
        margin: 0 15px;
        border-radius: 100%;
        transition: all 0.3s;


        filter: grayscale(1);
        opacity: 0.7;

        @include tablet(){
        padding: 10px;
        margin: 0 10px;
        }
        
        @include mobile(){
          padding: 5px;
        margin: 0 10px;
        }
        // &:hover {
        //   filter: grayscale(0);
        //   opacity: 1;
        // }
        & .icon {
          display: block;
          width: 54px;
          height: 54px;
          margin-bottom: 10px;

          @include tablet(){
            width: 44px;
            height: 44px;
          }
          
          @include mobile(){
            width: 44px;
            height: 44px;
          }
        }

        & span {
          font-size: 0.9rem;
          color: black;
          font-weight: bold;
          letter-spacing: 2.5px;
        }
      }
      
      .toggle { 
        filter: grayscale(0);
        opacity: 1;
      }
    }

    .search-box {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 0 auto;
      margin-top: 40px;
      justify-content: center;

      & .search {
        width: 70%;
      }
    }
    .funding-list-box {
      position: relative;
      margin-top: 50px;
      display: flex;
      flex-direction: column;

      .spinner-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }

      & p {
        font-size: 1rem;
        font-weight: bold;
        & span {
          color: red;
        }
      }
      & .funding-list {
        margin-top: 25px;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

        & .nextLoading-box{
          width: 100%;
          left: 50%;
          text-align: center;
        }
      }
    }
  }
}


