@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.container {
  padding-top: 80px;
  width: 100%;
  min-height: 100vh;
  .contents {
    max-width: 1160px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 25px;

    .title-box {
      margin-top: 80px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .description-box {
        width: 50%;
        & p {
          font-weight: bold;
          font-size: 3rem;
        }
      }
      .statistic-box {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $primary;
        border-radius: 20px;

        & div {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          & p {
            color: #ffff;
            line-height: 1.5;
            font-weight: bold;
          }
        }
        & div:first-child {
          border-right: 2px solid white;
        }
      }
    }

    .search-box {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      max-width: 50%;
      width: 100%;
      margin: 0 auto;
      margin-top: 150px;
    }
    .funding-list-box {
      margin-top: 80px;
      display: flex;
      flex-direction: column;

      & p {
        font-size: 0.8rem;
        font-weight: bold;
        & span {
          color: red;
        }
      }
      .funding-list {
        margin-top: 25px;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }
}
