@import '../../styles/reset.scss';
@import '../../styles/variable.scss';
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.bodyContainer {
  width: 100%;
  height: 100vh;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & .banner {
    display: flex;
    width: 100%;
    min-height: 350px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.692)), url('../../assets/images/funding/funds.jpg');
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .bannerContent {
      width: 1160px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      & .bannerTitle {
        font-family: 'NanumSquare', sans-serif;
        width: 100%;
        font-size: 80px;
        color: aliceblue;
        font-weight: 600;
        text-align: center;
        margin-top: 5%;
      }
      & .bannerButtonGroup {
        width: 40%;
        margin-top: 5%;
        margin-left: 70%;
        display: flex;
        align-items: flex-end;
        & .bannerGrpBtn {
          margin: 0 3%;
          width: 100px;
          height: 30px;
        }
        & .bannerBtn {
          margin: 0 3%;
          width: 100px;
          height: 30px;
        }
      }
    }
  }
  & .mainContainer {
    padding-top: 4%;
    display: block;
    width: 1160px;
    height: auto;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    & .mainSum {
      width: 100%;
      height: 300px;
      background-color: rgb(255, 255, 255);
    }
    & .mainContent {
      width: 100%;
      height: 250vh;
    }
    & .mainFooter {
      width: 100%;
      height: 200px;
    }
    & .mainFooterSum {
      width: 100%;
      height: 50px;
    }
    & .mainFooterAttatch {
      width: 100%;
      height: 250px;
      background-color: rgb(87, 87, 87);
    }
    & .mainFooterdiv {
      width: 100%;
      height: 5px;
    }
    & .mainFooterLikeWrapper {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      & .mainFooterLike {
        width: 50px;
        height: 50px;
        padding: 1%;
        border-radius: 50%;
        color: rgb(255, 0, 0);
        border: 3px solid #ec994b;
        background: transprgb(255, 189, 104) t;
      }
      & .Likebox {
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: center;
      }
      width: 100%;
      height: 150px;
      & .mainFooterLikeTest {
        opacity: 0.7;
        margin-top: 10px;
        font-family: 'nanumsquare';
        font-weight: 600;
        font-size: 25px;
        color: #ec994b;
        margin-bottom: 10px;
      }
    }

    & .mainCommentSubmit {
      width: 100%;
      height: 200px;
    }

    & .mainComments {
      width: 100%;
      height: 500px;
      background-color: rgrgb(95, 95, 95);
    }

    & .mainComments {
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.teamInfoCard {
  height: 150px;
  padding: 5%;
}

.mainFooterLikeTestSub {
  color: rgb(134, 134, 134);
  font-size: 20px;
  font-family: 'nanumsquare';
  font-weight: 600;
}
