@import '../../../styles/reset.scss';
@import '../../../styles/variable.scss';

.container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  padding-top: 77.6px;

  .content {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;

    .content-inner {
      max-width: 1100px;
      width: 100%;
      min-height: 100vh;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      background-color: rgba(236, 153, 75, 0.1);

      .info-div {
        width: 90%;
        max-height: 364px;
        margin-left: 5%;
        display: flex;

        @include tablet {
          flex-direction: column;
          max-height: 100%;
        }

        @include mobile {
          flex-direction: column;
          max-height: 100%;
        }

        .left {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2rem 1rem 2rem 2rem;

          @include mobile {
            padding: 1rem;
          }

          .profile-card-img-div {
            width: 300px;
            height: 300px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .profile-card-img-inner {
              width: 260px;
              height: 260px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid $primary;
              box-shadow: rgba(161, 91, 0, 0.2) 0px 2px 8px;
              border-radius: 100%;
              overflow: hidden;

              & img {
                width: 260px;
                height: 260px;
                border-radius: 100%;
              }
            }

            .camera-div {
              width: 70px;
              height: 70px;
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 100%;
              padding: 0rem;
              background-color: rgb(238, 179, 125);
              border: 5px solid #fcfcfc;
              right: 11px;
              bottom: 11px;
              color: white;

              &:hover {
                cursor: pointer;
                background-color: rgb(239, 173, 112);
              }

              .camera {
                width: 40px;
                height: 40px;
              }

              .img-input {
                display: none;
              }
            }
          }
        }

        .right {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin: 0 0 0 1rem;
          padding: 2rem;
          font-family: NanumSquare;

          @include tablet {
            width: 95%;
            padding: 0;
          }

          @include mobile {
            width: 95%;
            padding: 0;
            margin: 0 1rem;
          }

          .name {
            font-size: 1.5rem;
            font-weight: bold;
            color: rgb(52, 52, 52);
          }

          .label {
            margin: 2rem 0 1rem 0.5rem;
            font-size: 1.125rem;
            font-weight: bold;
            color: rgb(88, 88, 88);
          }

          .des-btn {
            width: 40px;
            margin: 0.5rem 0 0 auto;
            padding: 0;
            border: none;
            background-color: inherit;

            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }
        }
      }

      .hr1 {
        width: 90%;
        height: 0;
        margin: 2rem auto 1rem auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        @include mobile {
          margin: 1.5rem auto;
          border: none;
        }
      }

      .pr-div {
        display: flex;
        flex-direction: column;
        margin: 2rem 0 0 0;
        padding: 1rem;

        @include tablet {
          padding: 0;
        }

        @include mobile {
          margin: 0rem;
        }

        .hr2 {
          width: 85%;
          height: 0;
          margin: 2rem auto;
          border-bottom: 1px solid rgba(0, 0, 0, 0.07);

          @include mobile {
            margin: 1.5rem auto;
            border: none;
          }
        }

        .item {
          margin-left: 10%;

          .pw-label {
            display: flex;
            align-items: center;
            margin: 0 0 0.7rem 0;
            font-size: 1.125rem;
            font-weight: bold;
            color: rgb(88, 88, 88);

            .eye {
              margin: 0 0 0 0.5rem;
              font-size: 22px;
              color: rgba(0, 0, 0, 0.4);

              &:hover {
                cursor: pointer;
                color: rgba(0, 0, 0, 0.6);
              }
            }
          }

          .change-btn {
            margin: 0 0 0 0.3rem;
          }

          .pw-input {
            display: block;
            height: 30px;
            width: 30%;
            min-width: 150px;
            margin-bottom: 0.5rem;
            padding: 0 0.5rem;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 4px;

            @include mobile {
              width: 90%;
            }
          }

          .pw-btn-div {
            margin-top: 1rem;

            .pw-btn {
              width: 40px;
              padding: 0;
              border: none;
              background-color: inherit;

              &:hover {
                cursor: pointer;
                opacity: 0.8;
              }

              @include mobile {
                margin-bottom: 2rem;
              }
            }
          }

          .perform-label {
            display: flex;
            align-items: center;
            margin: 0 0 0.9rem 0;
            font-size: 1.125rem;
            font-weight: bold;
            color: rgb(88, 88, 88);
          }

          input[type='file']::file-selector-button {
            width: 100px;
            height: 30px;
            margin: 0 0.5rem 0 0;
            background: $primary;
            border: none;
            border-radius: 5px;
            color: white;
            font-size: 0.75rem;
            cursor: pointer;
          }

          .perform-btn {
            width: 40px;
            margin-top: 1rem;
            padding: 0;
            border: none;
            background-color: inherit;

            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }
        }
      }

      .back {
        margin: 7% auto 10% 10%;
        background-color: inherit;
        border: none;
        color: $primary;
        font-size: 1.25rem;
        font-weight: bold;

        &:hover {
          cursor: pointer;
          color: $second;
        }

        @include tablet {
          font-size: 1.125rem;
        }

        @include mobile {
          display: 0.75rem;
        }
      }
    }
  }
}

// .content-inner {
//   border: 1px solid red;
//   .info-div {
//     border: 1px solid orange;
//     .left {
//       border: 1px solid green;
//     }
//     .right {
//       border: 1px solid green;
//     }
//   }
//   .pr-div {
//     border: 1px solid orange;
//   }
// }
