@import '../../../styles/reset.scss';
@import '../../../styles/variable.scss';

.container {
  width: 100%;
  font-family: NanumSquareRound;

  .user-type-div {
    margin: 5rem 0;

    .title {
      font-weight: bold;
      font-size: 2.25rem;
      color: $primary;

      @include tablet {
        font-size: 1.25rem;
      }

      @include mobile {
        font-size: 1rem;
      }
    }

    .item {
      margin: 2rem;

      & summary {
        font-size: 1.25rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid rgba(1, 1, 1, 0.2);

        @include mobile {
          font-size: 0.9rem;
        }

        &:hover {
          cursor: pointer;
        }
      }

      & p {
        background-color: rgba(1, 1, 1, 0.015);
        font-size: 1.125rem;

        @include mobile {
          font-size: 0.75rem;
        }
      }
    }
  }
}
