.cardContainer {
  width: 95%;
  height: 120px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2%;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  & .commentMid {
    display: flex;
    align-items: center;
    padding: 3%;
    padding-top: 40px;
    & .commentImg {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 3%;
    }
    & .commentBox {
      text-align: left;
      line-height: 130%;
    }
    & .commentName {
      text-align: left;
      margin-bottom: 10px;
      font-weight: 600;
      span {
        margin-left: 10px;
        font-size: 0.8em;
        color: rgb(112, 112, 112);
        font-weight: 600;
      }
    }
  }
}
