.cardContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  & .commentHead {
    text-align: center;
    margin-right: 80%;
    font-size: 20px;
    font-family: 'nanumsquare';
    font-weight: 600;
    margin-bottom: 20px;
  }

  & .commentMid {
    width: 90%;
    margin-top: 15px;
    & .commentImg {
      border-radius: 50%;
      width: 5%;
      margin-right: 2%;
    }
    & .tesxtField {
      width: 85%;
    }
  }
  & .BtnGrop {
    width: 18%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    & .commentBtn {
      width: 120px;
      height: 50px;
      margin: 0 6.5%;
      background-color: transparent;
      border: 2px solid rgba(255, 166, 0, 0.568);
      border-radius: 15px;
      font-weight: 600;
      font-size: 16px;
      display: flex;
      justify-content: space-around;
      padding: 0 10px;
      align-items: center;
      color: rgb(88, 88, 88);
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        color: black;
      }
      &:active {
        scale: 0.9;
      }
    }
  }
}
