@import '../../styles/reset.scss';
@import '../../styles/variable.scss';
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.cardContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: 'NanumSquare', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  & .blogCard {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    font-size: medium;
    display: flex;
    text-align: start;
    & .cardImage {
      width: 40%;
      height: auto;
      object-fit: cover;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 12px 15px -1px, rgba(0, 0, 0, 0.3) 0px 8px 7px -1px;
    }
    & .cardDetail {
      width: 60%;
      padding: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & .fundTitle {
        font-size: 40px;
        font-weight: 600;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      & .fundSubTitle {
        color: rgba(139, 139, 139, 0.623);
        font-weight: 600;
        line-height: 130%;
        margin-bottom: 20px;
      }
      & .barWrapper {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        & .object {
          text-align: left;
          width: 40%;
          padding-right: 10px;
          font-size: 23px;
          font-weight: 600;
        }
        & .progressBar {
          width: 60%;
          background-color: rgb(110, 110, 110);
          border-radius: 15px;
          display: flex;
          padding: 3px;
          height: 10px;
          & .status {
            width: 10%;
            background-color: rgb(116, 194, 92);
            color: rgb(0, 0, 0);
            padding-top: 12px;
            text-align: right;
            font-size: 20px;
            border-radius: 15px;
            transition: 2s;
          }
        }
      }
    }
    & .fundPeriod {
      margin-top: 10px;
    }
  }
}
