@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.cardContainer {
  margin-bottom: 3%;
  width: 90%;
  display: flex;
  justify-content: center;
  @media (max-width: 900px) {
    width: 130%;
  }
  & .blogCard {
    width: 70%;
    max-height: 180px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 0.8vw;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    & .cardImage {
      width: 20%;
      object-fit: cover;
      @media (max-width: 500px) {
        display: none;
      }
    }
    & .cardDetail {
      width: 60%;
      padding: 5%;
      display: flex;
      flex-direction: column;
      padding-right: 0;
      justify-content: center;
      @media (max-width: 500px) {
        width: 80%;
      }
      & .fundGroup {
        font-size: 0.8vw;
        font-weight: 600;
        margin-bottom: 10px;
      }
      & .fundInfo {
        display: flex;
        align-items: flex-end;
        & .fundTitle {
          font-size: 1.8vw;
          font-weight: 600;
          margin-right: 10px;

          & a {
            text-decoration: none;
            color: black;

            &:hover {
              color: $primary;
            }
          }
        }
      }
      & .fundGauge {
        width: 60%;
        display: flex;
        margin-top: 5%;
        align-items: center;
        font-size: 0.8vw;
        & .fundLevel {
          width: auto;
          margin-bottom: 10px;
        }
      }
      & .barWrapper {
        display: flex;
        & .progressBar {
          width: 50%;
          background: rgb(129, 129, 129);
          background: linear-gradient(90deg, rgba(49, 49, 52, 1) 0%, rgb(82, 82, 82) 0%, rgb(143, 143, 143) 100%);
          border-radius: 15px;
          display: flex;
          padding: 3px;
          height: 10px;
          & .status {
            width: 40%;
            background: rgb(49, 49, 52);
            background: linear-gradient(90deg, rgba(49, 49, 52, 1) 0%, rgba(255, 166, 0, 1) 0%, rgb(255, 136, 0) 100%);
            color: white;
            padding: 1%;
            text-align: right;
            font-size: 0.8vw;
            border-radius: 15px;
          }
        }
        & .funStatusNum {
          width: 20%;
          margin-left: 10px;
          color: rgb(49, 49, 52);
          font-weight: 600;
        }
      }
    }
    & .joinDetail {
      font-family: 'nanumsquare';
      background: rgb(49, 49, 52);
      background: linear-gradient(90deg, rgba(49, 49, 52, 1) 0%, rgba(255, 255, 255, 1) 0%, rgb(240, 240, 240) 59%);
      width: 20%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & .fundAmount {
        font-size: 1.2vw;
        line-height: 150%;
        & span {
          font-weight: 800;
        }
      }
    }
  }
}

.joinDate {
  margin-top: 20px;
  font-size: 1vw;
  @media (max-width: 500px) {
    font-size: 0.5em;
  }
}
