.bodyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3% 0;
  background-color: white;
  & .buttonGroup {
    width: 20%;
    display: flex;
    justify-content: center;
    & .buttonInfo {
      margin: 0 3%;
      color: white;
      background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
      width: 40px;
      border-radius: 20%;
    }
  }
  & .teamBadge {
    display: flex;
    & .teamPic {
      width: 50px;
      border-radius: 50%;
    }
    & .badgeWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 15px;
      & .badgeName {
        font-weight: 600;
      }
      & .badgeTeamName {
        margin-top: 10px;
      }
    }
  }
}
