@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

/*==========삭제 필요!! 임시 리소스============*/
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
  font-family: 'Arita-buri-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*============================================*/

.container::before {
  content: '';
  background: url('../../assets/images/mainPage/space.jpg') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: 1s;
}
.container_scrolled::before {
  content: '';
  background: white;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: 1s;
}
.container {
  background-color: #060416;
  position: relative;
  min-width: 100%;
  min-height: 800vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  top: 0;
  align-items: center;
  transition: background-color 1s;
}
.container_scrolled {
  background-color: #0b0627;
  position: relative;
  min-width: 100%;
  min-height: 800vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  top: 0;
  align-items: center;
  transition: background-color 1s;
}
// 배너 섹션
.bannerContainer {
  display: flex;
  color: white;
  width: 30%;
  height: 80vh;
  margin-top: 13%;
  // border: 1px solid rgb(255, 255, 255);
  transition: 0.5s;
  transition: background-color 3s;
  @media (max-width: 900px) {
    text-align: center;
    justify-content: center;
  }
  // 배너 좌측 타이포 섹션
  & .typoBox {
    position: relative;
    width: 50%;
    margin-left: 200px;
    margin-top: 2%;
    height: 30% auto;
    margin-right: 0;
    // border: 1px solid rgb(255, 255, 255);

    @media (max-width: 900px) {
      width: 100%;
    }

    & .logoTypo {
      /* 정해진 폰트 규격 사용할 것 - 아래는 임시 크기*/
      font-family: 'Arita-buri-SemiBold';
      font-size: 3vw;
      line-height: 4.5vw;
      // border: 1px solid rgb(255, 255, 255);

      & .logoStrong {
        background: linear-gradient(261.5deg, #ffd2b2 59.63%, #fd6f08 102.79%);
        color: transparent;
        -webkit-background-clip: text;
        // border: 1px solid rgb(255, 255, 255);
      }
    }

    & .subLogoTypo {
      /* 정해진 폰트 규격 - 아래는 임시 크기*/
      font-family: 'NanumSquare';
      margin-top: 5%;
      font-size: 1.5vw;
      color: rgba(185, 185, 185, 0.671);
      // border: 1px solid rgb(255, 255, 255);
    }

    & .serviceBtn {
      width: 200px;
      height: 60px;
      margin-top: 8%;

      background-color: transparent;
      border: 2px solid rgba(255, 255, 255, 0.72);
      border-radius: 20px;
      color: white;

      font-family: 'NanumSquare';
      font-size: large;
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
      @media (max-width: 600px) {
        scale: 50%;
      }
    }
  }
  // 배너 우측 이미지 섹션
}
.infoBanner {
  margin-top: 40%;
  min-width: 1300px;
  z-index: 100;
}
.fundLists {
  margin-top: 30%;
  width: 80%;
  height: auto;
  z-index: 100;
  overflow: visible !important;
}
.volunLists {
  margin-top: 30%;
  width: 80%;
  height: auto;
  z-index: 100;
  overflow: visible !important;
}
.donate {
  margin-top: 10%;
  width: 100%;
  height: auto;
  z-index: 100;
}
.waveBack {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 110;
  position: absolute;
}
.waveBack2 {
  position: absolute;
  margin-top: 15%;
  height: auto;
  width: 100%;
  z-index: 110;
}

.bannerImg {
  width: 60% !important;
  // border: 1px solid rgb(216, 36, 36);
  @media (max-width: 900px) {
    display: none;
  }
  & .planets {
    position: relative;
    & .planet {
      margin-top: 5%;
      margin-left: 20%;
      width: 1000px;
    }
    & .astWrap {
      position: absolute;
      top: 15%;
      left: 5%;
      display: flex;

      & .ast {
        border: 1px solid #ffffff;
        margin-left: 5%;
        margin-top: 20%;
        width: 150px;
      }

      & .astCnt {
        width: 150px;
        height: 130px;
        transform: scaleX(-1) rotate(35deg);
        transition: 3s ease-in-out;
        border: 1px solid #ff0000;
        // -webkit-animation: floatY 5s linear infinite;
        // -moz-animation: floatY 5s linear infinite;
        // -o-animation: floatY 5s linear infinite;
      }
    }
  }
}
