@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

/*==========삭제 필요!! 임시 리소스============*/
// @import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
// @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');

// @font-face {
//   font-family: 'Arita-buri-SemiBold';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
/*============================================*/
.container::before {
  content: '';

  background-size: cover;
  // opacity: 0.3;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: 1s;
}
.container {
  // background: url('../../assets/images/mainPage/space.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  min-width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  top: 0;
  align-items: center;
  transition: background-image 1.5s;
}

// 배너 섹션
.bannerContainer {
  display: flex;
  color: white;
  width: 30%;
  height: 100vh;
  // border: 1px solid rgb(255, 255, 255);
  transition: 0.5s;
  opacity: 1 !important;

  @media (max-width: 900px) {
    text-align: center;
    justify-content: center;
  }
  // 배너 좌측 타이포 섹션
  & .typoBox {
    position: relative;
    width: 50%;
    margin-left: 200px;
    margin-top: 17%;
    height: 30% auto;
    margin-right: 0;

    @media (max-width: 900px) {
      width: 100%;
    }

    & .logoTypo {
      /* 정해진 폰트 규격 사용할 것 - 아래는 임시 크기*/
      font-family: 'Nanum Myeongjo', serif !important;
      font-size: 3vw;
      line-height: 4.5vw;
      font-weight: 700;

      & .logoStrong {
        background: linear-gradient(261.5deg, #ffd2b2 59.63%, #fd6f08 102.79%);
        color: transparent;
        -webkit-background-clip: text;
        // border: 1px solid rgb(255, 255, 255);
      }
    }

    & .subLogoTypo {
      /* 정해진 폰트 규격 - 아래는 임시 크기*/
      font-family: 'NanumSquare';
      margin-top: 5%;
      font-size: 1.5vw;
      color: rgba(185, 185, 185, 0.671);
      // border: 1px solid rgb(255, 255, 255);
    }

    & .serviceBtn {
      width: 200px;
      height: 60px;
      margin-top: 8%;

      background-color: transparent;
      border: 2px solid rgba(255, 255, 255, 0.72);
      border-radius: 20px;
      color: white;

      font-family: 'NanumSquare';
      font-size: large;
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
      @media (max-width: 600px) {
        scale: 50%;
      }
    }
  }
  // 배너 우측 이미지 섹션
}
.infoBanner {
  position: relative;
  margin: 30% 0 10% 0;
  min-width: 1300px;
  z-index: 100;

  .lottieSpace {
    position: absolute;
    width: 400px;
    top: -150px;
    left: 340px;
    transform: rotate(80deg);
  }
}
.fundLists {
  width: 80%;
  z-index: 100;
  overflow: visible !important;
}
.volunLists {
  width: 80%;
  height: 100vh;
  z-index: 100;
  overflow: visible !important;
}
.donate {
  margin-top: 10%;
  width: 100%;
  height: auto;
  z-index: 100;
}
.waveBack {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 110;
  position: absolute;
}
.waveBack2 {
  position: absolute;
  margin-top: 15%;
  height: auto;
  width: 100%;
  z-index: 110;
}

.bannerImg {
  width: 60% !important;
  transition: 1s;
  // border: 1px solid rgb(216, 36, 36);
  @media (max-width: 900px) {
    display: none;
  }
  & .planets {
    position: relative;
    & .planet {
      margin-top: 25%;
      margin-left: 20%;
      width: 1000px;
      rotate: -45deg;
      -webkit-animation: rotationMoon 360s linear infinite;
      -moz-animation: rotationMoon 360s linear infinite;
      -o-animation: rotationMoon 360s linear infinite;
    }
    & .astWrap {
      position: absolute;
      top: 25%;
      left: 5%;
      display: flex;

      & .ast {
        margin-left: 5%;
        margin-top: 20%;
        width: 150px;
        -webkit-animation: swim1 5s ease-in-out infinite;
        -moz-animation: swim1 5s ease-in-out infinite;
        -o-animation: swim1 5s ease-in-out infinite;
      }

      & .astCnt {
        width: 150px;
        height: 130px;
        margin-top: 0;
        transform: scaleX(-1) rotate(35deg);
        transition: 3s ease-in-out;
        -webkit-animation: swim2 7s ease-in-out infinite;
        -moz-animation: swim2 7s ease-in-out infinite;
        -o-animation: swim2 7s ease-in-out infinite;
      }
    }
  }
}

.backgroundImg {
  transition: opacity 0.3s;
  width: 100%;
  height: auto;
  margin-top: 90px;
  position: absolute;
  top: -20px;
  z-index: 1;
  filter: brightness(60%);
  animation: starsGl 3s ease-in-out infinite;
}

@keyframes swim1 {
  50% {
    margin-top: 30%;
  }
}
@keyframes swim2 {
  50% {
    margin-top: 10%;
  }
}

@keyframes rotationMoon {
  100% {
    rotate: 360deg;
  }
}

@keyframes starsGl {
  50% {
    filter: brightness(20%);
  }
}
