@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.dialog {
  max-width: 500px;
  width: 90%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  font-family: NanumSquare !important;

  .close-btn {
    border: none;
    border-radius: 100%;
    margin: 1rem 1rem 0 auto;
    padding: 0 !important;
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: bold;
    box-shadow: none;

    &:hover {
      cursor: pointer;
    }
  }

  .title {
    display: flex;
    margin: 1.5rem 0 2rem 0;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;

    & img {
      width: 3rem;
      margin-right: 0.7rem;
      border-radius: 100%;
    }

    // & svg {
    //   font-size: 1rem;
    //   margin-right: 0.7rem;
    //   color: rgb(0, 0, 0);
    // }
  }

  .text-label {
    margin: 0 0 0.5rem 5%;
    font-size: 1.25rem;
  }

  .text-content {
    margin: 0 0 2rem 5%;
    font-size: 1.25rem;
    color: black;
  }

  & input {
    width: 70%;
    height: 2rem;
    margin: 0 0.5rem 0.5rem 5%;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    border: 1px solid rgb(177, 177, 177);
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .alarm {
    margin-left: 6%;
    color: $primary;

    & span {
      color: rgb(177, 177, 177);
    }
  }

  .warn {
    margin: 1rem 0 0 6%;
    font-size: 0.75rem;
    color: red;
    opacity: 0;
    animation: fadein 0.5s ease-in-out forwards;
  }

  @keyframes fadein {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .charge {
    margin: 2.5rem 0 2.5rem 0;
    text-align: center;
    text-decoration: none;
    color: rgb(108, 108, 108);

    &:hover {
      opacity: 0.7;
    }
  }

  .pay {
    height: 4rem;
    border-radius: 0;
    background-color: $second;
    font-size: 1.125rem;

    &:hover {
      background-color: $error;
    }
  }
}
