@import '../../../styles/reset.scss';
@import '../../../styles/variable.scss';

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: NanumSquare !important;

  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1160px;

    .title {
      font-size: 2.25rem;
      font-weight: bold;
      margin: 3rem 0;
    }

    .filter-div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .search-div {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        & input {
          width: 15rem;
        }

        & svg {
          font-size: 20px;
          margin-left: 1rem;

          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }

    .title-line {
      width: 100%;
      height: 3rem;
      display: grid;
      grid-template-columns: 1fr 2fr 2fr 1.7fr 1.2fr 0.9fr 0.9fr 0.9fr;
      align-items: center;
      background-color: $primary;
      font-weight: bold;
      font-size: 0.9rem;
      color: white;
      box-shadow: 0px 1px 2px rgba(1, 1, 1, 0.3);
      margin-bottom: 0.1rem;

      & li {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    .list-line {
      width: 100%;
      height: 2rem;
      display: grid;
      grid-template-columns: 1fr 2fr 2fr 1.7fr 1.2fr 0.9fr 0.9fr 0.9fr;
      align-items: center;
      background-color: rgb(252, 252, 252);
      font-size: 0.9rem;
      border-bottom: 1px solid rgba(1, 1, 1, 0.05);
      margin: 0.1rem 0;
      padding: 0.5rem 0;

      & li {
        width: 100%;
        display: flex;
        justify-content: center;

        & p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .file-btn {
          width: 4.5rem;
          height: 2.2rem;
          padding: auto 0;
          border: none;
          border-radius: 5px;
          background-color: $second;
          color: white;
          font-size: 1rem;
          font-family: NanumSquare;

          &:hover {
            cursor: pointer;
            background-color: $error;
          }

          &:active {
            background-color: $second;
          }
        }

        .withdraw-btn {
          width: 20px;
          height: 20px;
          border: none;
          border-radius: 100%;
          color: $error;
          font-weight: bold;
          box-shadow: none;

          &:hover {
            cursor: pointer;
            color: $primary;
          }
        }
      }
    }
  }
}
