@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.container {
  width: 100%;
  height: auto;
  background-color: rgb(255, 253, 250);
  font-family: 'NanumSquare' !important;

  @include tablet {
    margin-top: 100px;
  }

  @include mobile {
    margin-top: 90px;
  }

  .contents {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    & .contentTitle {
      display: flex;
      align-items: center;
      margin: 0 0 2rem 5rem;
      font-family: 'nanumsquare';
      font-size: 2rem;
      font-weight: bold;
      color: rgb(89, 40, 0);
      animation: slide-in 3s forwards;

      @keyframes slide-in {
        from {
          margin: 0 0 4rem 5rem;
          opacity: 0;
          transform: translateX(-50px);
        }
        to {
          opacity: 1;
          margin: 0 0 2rem 5rem;
          transform: translateX(0);
        }
      }

      & img {
        width: 4rem;
        margin-right: 1rem;
      }
    }

    .donation-box {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 10%;
      height: auto;

      .left {
        margin-top: 70px;
        width: 40%;
        animation: fade-in 3s forwards;

        & img {
          margin-left: 50px;
          width: 400px;
          height: 300px;
          object-fit: contain;
          rotate: -12deg;
          transition: 1s;
          // border: 5px solid rgba(255, 176, 123, 0.479);
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px, rgba(0, 0, 0, 0.1) 8px 6px 6px;
          &:hover {
            scale: 1.3;
            rotate: 0deg;
            opacity: 0.9;
          }
        }

        @include tablet {
          display: none;
        }

        @include mobile {
          display: none;
        }
      }

      .right {
        position: relative;
        padding: 40px 40px 20px 40px;
        width: 40%;
        height: auto;
        border: 7px solid $primary;
        border-radius: 18px;
        background-color: rgb(255, 255, 255);
        animation: fade-in 3s forwards;

        @include tablet {
          width: 80%;
        }

        @include mobile {
          width: 70%;
        }

        & .title {
          font-size: 2.5rem;
          font-weight: bold;
          color: $primary;

          @include mobile {
            font-size: 1.5rem;
          }
        }

        & .text {
          overflow: hidden;
          margin-top: 40px;
          margin-bottom: 80px;
          color: $primary;
          font-size: 1.25rem;
          line-height: 1.5;
          font-weight: bold;
          word-wrap: break-word;
          text-overflow: ellipsis;
          display: -webkit-box;
          white-space: pre-wrap;
          -webkit-line-clamp: 6;
          @include mobile {
            font-size: 1rem;
          }
        }

        & .text2 {
          margin: 3rem 0 1rem 0;
        }

        & .donButton {
          font-weight: bold;
          font-size: 20px;
          width: 40%;
          height: 13%;
          border-radius: 15px;
          color: #ffff;
          background-color: $primary;
          margin: 5rem 0 0 0;
          bottom: 20px;
          left: 30%;
          cursor: pointer;
          @include mobile {
            width: 60%;
          }
          &:active {
            scale: 0.95;
          }
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
      }
    }

    .amount-box {
      margin: 50px auto 0 auto;
      width: 100%;
      background: linear-gradient(249.43deg, #ed9e54a8 -13.04%, #eb5600b1 122.25%);
      border-radius: 50px 0px;
      height: 120px;
      text-align: center;

      @include tablet {
        width: 80%;
      }

      @include mobile {
        height: 100px;
        width: 80%;
      }

      & p {
        font-size: 3rem;
        font-weight: bold;
        line-height: 120px;
        background: linear-gradient(180deg, #ffffff 50%, #cac2c2 30%, #ffffff 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        // text-fill-color: transparent;
        text-shadow: 3px 4px 6px rgba(255, 174, 98, 0.25);
        @include tablet {
          font-size: 2.5rem;
        }
        @include mobile {
          font-size: 1.5rem;
          line-height: 100px;
        }
      }
    }
  }

  & .finishedTable {
    margin-top: 40px;
  }
}

.contentsWrapper {
  margin-top: 150px;
}

.inspire {
  width: 100%;
  display: flex;
  justify-content: center;

  & p {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(59, 59, 59);

    & span {
      color: $primary !important;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
