@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.container {
  width: 100%;
  height: auto;

  @include tablet {
    margin-top: 100px;
  }

  @include mobile {
    margin-top: 90px;
  }
  .contents {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    & .contentTitle {
      font-size: 1.5rem;
      font-family: 'nanumsquare';
      margin-bottom: 30px;
    }

    .donation-box {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .left {
        margin-top: 70px;
        width: 40%;
        & img {
          width: 500px;
          rotate: -12deg;
          transition: 1s;
          border: 6px solid white;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          &:hover {
            scale: 1.2;
            rotate: 0deg;
            opacity: 0.9;
          }
        }

        @include tablet {
          display: none;
        }

        @include mobile {
          display: none;
        }
      }
      .right {
        position: relative;
        padding: 50px;
        width: 40%;
        border: 7px solid $primary;
        border-radius: 18px;
        @include tablet {
          width: 80%;
        }
        @include mobile {
          width: 70%;
        }

        & .title {
          font-size: 3.5rem;
          font-weight: bold;
          background: linear-gradient(259.55deg, #ff9900 51.3%, #ff6b00 92.74%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          // text-fill-color: transparent;

          @include mobile {
            font-size: 1.5rem;
          }
        }
        & .text {
          margin-top: 40px;
          margin-bottom: 80px;
          color: $primary;
          font-size: 1.25rem;
          line-height: 1.5;
          font-weight: bold;
          word-wrap: break-word;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 6;
          @include mobile {
            font-size: 1rem;
          }
        }

        & .donButton {
          position: absolute;
          font-weight: bold;
          font-size: 20px;
          width: 40%;
          height: 13%;
          border-radius: 15px;
          color: #ffff;
          background-color: $primary;
          border: 2px solid white;
          bottom: 20px;
          left: 30%;
          cursor: pointer;
          @include mobile {
            width: 60%;
          }
          &:active {
            scale: 0.9;
          }
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
      }
    }
    .amount-box {
      margin: 50px auto 0 auto;
      width: 100%;
      background: linear-gradient(249.43deg, #ed9e54 -13.04%, #eb5500 122.25%);
      border-radius: 50px 0px;
      height: 120px;
      text-align: center;

      @include tablet {
        width: 80%;
      }
      @include mobile {
        height: 100px;
        width: 80%;
      }
      & p {
        font-size: 3.5rem;
        font-weight: bold;
        line-height: 120px;
        background: linear-gradient(180deg, #ffffff 50%, #cac2c2 30%, #ffffff 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        // text-fill-color: transparent;
        text-shadow: 3px 4px 6px rgba(255, 174, 98, 0.25);
        @include tablet {
          font-size: 2.5rem;
        }
        @include mobile {
          font-size: 1.5rem;
          line-height: 100px;
        }
      }
    }
  }
  & .finishedTable {
    margin-top: 40px;
  }
}

.contentsWrapper {
  margin-top: 150px;
}
