@import '../../../styles/reset.scss';
@import '../../../styles/variable.scss';

.container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding-top: 77px;
  display: flex;
  justify-content: center;
  font-family: NanumSquare !important;

  .content {
    max-width: 900px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 0 5rem;
    background-color: rgb(255, 253, 250);

    .title-div {
      margin-top: 5rem;
      display: flex;
      align-items: center;

      .title {
        font-size: 2.25rem;
      }

      .is-responded {
        background-color: $primary;
        margin-left: 1rem;
        padding: 0.5rem;
        border-radius: 20px;
        font-size: 1rem;
        font-weight: bold;
        color: white;
      }
    }

    & hr {
      margin: 2rem 0;
      opacity: 0.3;
    }

    .text-div {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;

      .faq-content {
        width: 95%;
        line-height: 2rem;
      }
    }

    .file {
      width: 95%;
      height: 1.5rem;
      display: flex;
      text-align: center;
      margin-left: 5%;
      margin-top: 1rem;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.8);
      font-size: 0.9rem;

      &:hover {
        color: $primary;
      }
    }

    .reply-button {
      margin: 0 0 0 auto;
      padding: 0.5rem;
      background-color: $primary;
      border: none;
      border-radius: 5px;
      color: white;

      &:hover {
        cursor: pointer;
        background-color: $second;
      }
    }

    .label-div {
      width: 90%;
      margin: 0 1rem 1rem 0.2rem;
      font-size: 1.25rem;
    }

    & textarea {
      width: 98%;
      margin: 0 0 1rem 0;
      padding: 0.5rem;
      border: 1px solid rgb(226, 226, 226);
      border-radius: 5px;
      font-size: 1.125rem;
    }

    .text-div {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;

      .reply-text {
        width: 95%;
        line-height: 2rem;
      }
    }

    .back {
      margin-top: 2rem;
      border: none;
      background-color: inherit;
      font-size: 1.25rem;
      color: $primary;

      &:hover {
        cursor: pointer;
        color: $second;
      }
    }
  }
}

.fullWidth-div {
  width: 100%;
  display: flex;
}
