@import '../../styles/reset.scss';
@import '../../styles/variable.scss';

.bodyContainer {
  background-color: rgb(255, 154, 123);
  width: 100%;
  min-height: 100vh;
}
.itemWrapper {
}
.imgerror {
}
.homeBtn {
}
